# Flask, para SECRET_KEY use openssl rand -hex 24
FLASK_APP=pjecz_hercules_beta_flask.app
FLASK_DEBUG=1
SECRET_KEY=

# Base de datos en Triceratops (podman pod start triceratops)
DB_USER=adminpjeczplataformaweb
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=pjecz_plataforma_web
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://adminpjeczplataformaweb:XXXXXXXX@127.0.0.1:5432/pjecz_plataforma_web"

# Claves INEGI del estado y del municipio, 05 es Coahuila de Zaragoza, 030 es Saltillo
ESTADO_CLAVE=05
MUNICIPIO_CLAVE=030

# Google Cloud credentials
GOOGLE_APPLICATION_CREDENTIALS=

# Google Cloud Storage
CLOUD_STORAGE_DEPOSITO=
CLOUD_STORAGE_DEPOSITO_EDICTOS=
CLOUD_STORAGE_DEPOSITO_ESTRADOS=
CLOUD_STORAGE_DEPOSITO_EXHORTOS=
CLOUD_STORAGE_DEPOSITO_GLOSAS=
CLOUD_STORAGE_DEPOSITO_LISTAS_DE_ACUERDOS=
CLOUD_STORAGE_DEPOSITO_OFICIOS=
CLOUD_STORAGE_DEPOSITO_PERSEO=
CLOUD_STORAGE_DEPOSITO_RESPALDOS=
CLOUD_STORAGE_DEPOSITO_SENTENCIAS=
CLOUD_STORAGE_DEPOSITO_VALES_GASOLINA=
CLOUD_STORAGE_DEPOSITO_VSP_DIGITALIZACIONES=

# Host
HOST=http://127.0.0.1:5000

# Redis
REDIS_URL=redis://127.0.0.1:6379
TASK_QUEUE=pjecz_hercules

# Guardar las contrasenas del motor de firma electronica de los usuarios
FERNET_KEY=

# Salt sirve para cifrar el ID con HashID, debe ser igual en la API
SALT=

# Zona Horaria en America, Ciudad de Mexico
TZ=America/Mexico_City

# Autoridades necesita estos valores por defecto para oficios documentos
AUTORIDADES_PAGINA_CABECERA_URL=
AUTORIDADES_PAGINA_PIE_URL=

# CLI: Comando cli db copiar
PRODUCTION_DB_USER=adminpjeczplataformaweb
PRODUCTION_DB_PASS=
PRODUCTION_DB_HOST=127.0.0.1
PRODUCTION_DB_PORT=5432
PRODUCTION_DB_NAME=pjecz_plataforma_web

# CLI: Si esta en PRODUCTION se evita reiniciar la base de datos
DEPLOYMENT_ENVIRONMENT=DEVELOPMENT

#
# APIs y servicios de terceros
#

# Motor de firma electrónica
EFIRMA_SER_FIRMAR_DOC_PDF_URL=
EFIRMA_SER_CANCELAR_DOC_PDF_URL=
EFIRMA_REGISTRO_IDENTIFICADOR=
EFIRMA_REGISTRO_CONTRASENA=
EFIRMA_APLICACION_IDENTIFICADOR=
EFIRMA_APLICACION_CONTRASENA=

# Google Gemini
GOOGLE_GEMINI_API_KEY=
GOOGLE_GEMINI_MODEL_NAME=

# Sendgrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_TO_EMAIL_REPORTES=
