{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Destinatario {{ ofi_documento_destinatario.ofi_documento.descripcion | truncate(48) }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Destinatario ' + ofi_documento_destinatario.ofi_documento.descripcion | truncate(48)) %}
        {{ topbar.button_previous('Oficio', url_for('ofi_documentos.detail', ofi_documento_id=ofi_documento_destinatario.ofi_documento.id)) }}
        {% if current_user.can_edit('OFI DOCUMENTOS DESTINATARIOS') %}
            {% if ofi_documento_destinatario.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ofi_documentos_destinatarios.delete', ofi_documento_destinatario_id=ofi_documento_destinatario.id)) }}{% endif %}
            {% if ofi_documento_destinatario.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ofi_documentos_destinatarios.recover', ofi_documento_destinatario_id=ofi_documento_destinatario.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(title='Oficio') %}
        {% if current_user.can_view('OFI DOCUMENTOS') %}
            {{ detail.label_value('Descripción', ofi_documento_destinatario.ofi_documento.descripcion, url_for('ofi_documentos.detail', ofi_documento_id=ofi_documento_destinatario.ofi_documento.id)) }}
        {% else %}
            {{ detail.label_value('Descripción', ofi_documento_destinatario.ofi_documento.descripcion) }}
        {% endif %}
        {{ detail.label_value('Folio', ofi_documento_destinatario.ofi_documento.folio) }}
        {% set propietario_nombre_email = ofi_documento_destinatario.ofi_documento.usuario.nombre + ' (' + ofi_documento_destinatario.ofi_documento.usuario.email + ')' %}
        {% if current_user.can_view('USUARIOS') %}
            {{ detail.label_value('Propietario', propietario_nombre_email,  url_for("usuarios.detail", usuario_id=ofi_documento_destinatario.ofi_documento.usuario.id)) }}
        {% else %}
            {{ detail.label_value('Propietario', propietario_nombre_email) }}
        {% endif %}
    {% endcall %}
    {% call detail.card(title='Destinatario', estatus=ofi_documento_destinatario.estatus) %}
        {% set destinatario_nombre_email = ofi_documento_destinatario.nombre + ' (' + ofi_documento_destinatario.email + ')' %}
        {% if current_user.can_view('USUARIOS') %}
            {{ detail.label_value('Destinatario', destinatario_nombre_email, url_for('usuarios.detail', usuario_id=ofi_documento_destinatario.usuario.id)) }}
        {% else %}
            {{ detail.label_value('Destinatario', destinatario_nombre_email) }}
        {% endif %}
        {{ detail.label_value_boolean('Con copia', ofi_documento_destinatario.con_copia) }}
        {{ detail.label_value_boolean('Fue Leído', ofi_documento_destinatario.fue_leido) }}
        {{ detail.label_value('Fue leído en la fecha', ofi_documento_destinatario.fue_leido_tiempo) }}
        {% if current_user.can_edit('OFI DOCUMENTOS DESTINATARIOS') %}
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    {{ modals.button_modal_md('Eliminar', url_for('ofi_documentos_destinatarios.delete', ofi_documento_destinatario_id=ofi_documento_destinatario.id), "Eliminar", "mdi mdi-account-minus-outline", "¿Desea Eliminar el destinatario?",  "btn-danger") }}
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_edit('OFI DOCUMENTOS DESTINATARIOS') %}
        {% if ofi_documento_destinatario.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + ofi_documento_destinatario.email + '?') }}{% endif %}
        {% if ofi_documento_destinatario.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + ofi_documento_destinatario.email + '?') }}{% endif %}
        {{ modals.custom_javascript("Eliminar", "", "Eliminar") }}
    {% endif %}
{% endblock %}
