{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Oficio {{ ofi_documento.descripcion | truncate(32) }}{% endblock %}

{% block custom_head %}
    <!-- Estilos del contenido para poner bordes y margenes a las tablas -->
    <link rel="stylesheet" href="https://storage.googleapis.com/pjecz-informatica/static/css/ckeditor5-justicia-digital-gob-mx.css">
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Oficio ' + ofi_documento.descripcion | truncate(32)) %}
        {{ topbar.button_previous('Oficios', url_for('ofi_documentos.list_active')) }}
        {% if current_user.can_admin('OFI DOCUMENTOS') %}
            {% if ofi_documento.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ofi_documentos.delete', ofi_documento_id=ofi_documento.id)) }}{% endif %}
            {% if ofi_documento.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ofi_documentos.recover', ofi_documento_id=ofi_documento.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=ofi_documento.estatus) %}
        {{ detail.label_value('Descripción', ofi_documento.descripcion) }}
        {{ detail.label_value('Folio', ofi_documento.folio) }}
        {% set propietario_nombre_email = ofi_documento.usuario.nombre + ' (' + ofi_documento.usuario.email + ')' %}
        {% if current_user.can_view('USUARIOS') %}
            {{ detail.label_value('Propietario', propietario_nombre_email,  url_for("usuarios.detail", usuario_id=ofi_documento.usuario.id)) }}
        {% else %}
            {{ detail.label_value('Propietario', propietario_nombre_email) }}
        {% endif %}
        {% set autoridad_descripcion_clave = ofi_documento.usuario.autoridad.descripcion + ' (' + ofi_documento.usuario.autoridad.clave + ')' %}
        {% if current_user.can_view('AUTORIDADES')%}
            {{ detail.label_value('Autoridad', autoridad_descripcion_clave, url_for('autoridades.detail', autoridad_id=ofi_documento.usuario.autoridad.id)) }}
        {% else %}
            {{ detail.label_value('Autoridad', autoridad_descripcion_clave) }}
        {% endif %}
        {# Inicia Contenido HTML #}
        <hr>
        {% if ofi_documento.contenido_html %}
            {{ ofi_documento.contenido_html | safe }}
        {% else %}
            <div class="alert alert-warning" role="alert">
                <strong>Aviso:</strong> Este oficio no tiene contenido HTML.
            </div>
        {% endif %}
        {# Termina Contenido HTML #}
    {% endcall %}
    {# DataTable Adjuntos #}
    {% call detail.card("Archivos Adjuntos") %}
        <table id="ofi_documentos_adjuntos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Eliminar/Recuperar</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('OFI DOCUMENTOS ADJUNTOS') and mostrar_botones_agregar %}
            <a href="{{ url_for('ofi_documentos_adjuntos.new_with_ofi_documento', ofi_documento_id=ofi_documento.id) }}" class="btn btn-primary">Agregar Archivo Adjunto</a>
        {% endif %}
    {% endcall %}
    {# DataTable Destinatarios #}
    {% call detail.card("Destinatarios") %}
        <table id="ofi_documentos_destinatarios_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Correo electrónico</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Leído</th>
                    <th>Con Copia</th>
                    <th>Eliminar/Recuperar</th>
                </tr>
            </thead>
        </table>
        {% if current_user.can_insert('OFI DOCUMENTOS DESTINATARIOS') and mostrar_botones_agregar %}
            <a href="{{ url_for('ofi_documentos_destinatarios.new_with_ofi_documento', ofi_documento_id=ofi_documento.id) }}" class="btn btn-primary">Agregar Destinatario</a>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('OFI DOCUMENTOS') %}
        {% if ofi_documento.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + ofi_documento.descripcion + '?') }}{% endif %}
        {% if ofi_documento.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + ofi_documento.descripcion + '?') }}{% endif %}
    {% endif %}
    <!-- Javascript DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <!-- Configuración de DataTables -->
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- DataTable Adjuntos -->
    <script>
        let configDTOfiDocumentosAdjuntos = constructorDataTable.config();
        configDTOfiDocumentosAdjuntos['ajax']['url'] = '{{ url_for("ofi_documentos_adjuntos.datatable_json") }}';
        configDTOfiDocumentosAdjuntos['ajax']['data'] = {"estatus": "A", "ofi_documento_id": "{{ ofi_documento.id }}"};
        configDTOfiDocumentosAdjuntos['columns'] = [
            { data: 'detalle' },
            { data: 'eliminar_recuperar' }
        ];
        configDTOfiDocumentosAdjuntos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    descripcion = data.descripcion.length > 32 ? data.descripcion.substring(0, 32) + '…' : data.descripcion;
                    return '<a href="' + data.url + '">' + descripcion + '</a>';
                }
            },
            {
                targets: 1, // eliminar_recuperar
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        if (data.estatus === "A") {
                            return '<span class="badge bg-primary">Activo</span>';
                        } else {
                            return '<span class="badge bg-secondary">Eliminado</span>';
                        }
                    }
                    let myId = 'ofi_documento_adjunto_' + data.id;
                    let myRow = 'ofi_documento_adjunto_row_' + data.id;
                    let myOnClick = "deleteRecover('#" + myId + "', '" + data.url + "', '#" + myRow + "')";
                    if (data.estatus === "A") {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-outline-primary" onclick="' + myOnClick + '"><span class="mdi mdi-delete"></span></button>';
                    } else {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-light" onclick="' + myOnClick + '"><span class="mdi mdi-delete-restore"></span></button>';
                    }
                }
            }
        ];
        // Cambiar la fila según el estatus
        configDTOfiDocumentosAdjuntos['createdRow'] = function(row, data, dataIndex) {
            // Agregar un id a la fila para usarlo en eliminar/recuperar
            $(row).attr('id', 'ofi_documento_adjunto_row_' + data.id);
        };
        // No hay filtros
        const filtrosAdjuntos = new FiltrosDataTable('#ofi_documentos_adjuntos_datatable', configDTOfiDocumentosAdjuntos);
        filtrosAdjuntos.precargar();
    </script>
    <!-- DataTable Destinatarios -->
    <script>
        let configDTOfiDocumentosDestinatarios = constructorDataTable.config();
        configDTOfiDocumentosDestinatarios['ajax']['url'] = '{{ url_for("ofi_documentos_destinatarios.datatable_json") }}';
        configDTOfiDocumentosDestinatarios['ajax']['data'] = {"estatus": "A", "ofi_documento_id": "{{ ofi_documento.id }}"};
        configDTOfiDocumentosDestinatarios['columns'] = [
            { data: 'detalle' },
            { data: 'usuario_nombre' },
            { data: 'usuario_puesto' },
            { data: 'fue_leido' },
            { data: 'con_copia' },
            { data: 'eliminar_recuperar' }
        ];
        configDTOfiDocumentosDestinatarios['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    email = data.usuario_email.length > 32 ? data.usuario_email.substring(0, 32) + '…' : data.usuario_email;
                    return '<a href="' + data.url + '">' + email + '</a>';
                }
            },
            {
              targets: [1, 2], // usuario_nombre, usuario_puesto
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 32 ? data.substring(0, 32) + '…' : data;
                }
            },
            {
                targets: [3, 4], // fue_leido
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="mdi mdi-checkbox-marked" style="font-size: 1.4em"></span>';
                    }
                    return '<span class="mdi mdi-checkbox-blank-outline text-secondary" style="font-size: 1.4em"></span>';
                }
            },
            {
                targets: 5, // eliminar_recuperar
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        if (data.estatus === "A") {
                            return '<span class="badge bg-primary">Activo</span>';
                        } else {
                            return '<span class="badge bg-secondary">Eliminado</span>';
                        }
                    }
                    let myId = 'ofi_documento_destinatario_' + data.id;
                    let myRow = 'ofi_documento_destinatario_row_' + data.id;
                    let myOnClick = "deleteRecover('#" + myId + "', '" + data.url + "', '#" + myRow + "')";
                    if (data.estatus === "A") {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-outline-primary" onclick="' + myOnClick + '"><span class="mdi mdi-delete"></span></button>';
                    } else {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-light" onclick="' + myOnClick + '"><span class="mdi mdi-delete-restore"></span></button>';
                    }
                }
            }
        ];
        const filtrosDestinatarios = new FiltrosDataTable('#ofi_documentos_destinatarios_datatable', configDTOfiDocumentosDestinatarios);
        filtrosDestinatarios.precargar();
    </script>
    <!-- DataTable Eliminar/Recuperar -->
    <script>
        // Preparar headers para POST
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        const myInit = {
            method: "POST",
            headers: myHeaders,
            mode: "cors",
            cache: "default",
        };
    </script>
    <script src="{{ url_for('static', filename='js/datatables-delete-recover.js') }}"></script>
{% endblock %}
